* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TT Lakes';
}

:root {
  --color-title: #7E7E82;
  --color-bg: #f8f8f8;
  --color--btnText: #1B1C21;
  --bgColor--list-item: #FFFFFF;
  --color-list-item__border: #eaeaea;
}

ul {
  list-style: none;
}

.container__title {
  padding-bottom: 30px;
  color: var(--color-title);
  font-weight: 400;
  font-size: 16px;
}

.container {
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg);
}

.list--desktop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 10px;
}

.list--mobile {
  display: none;
}

.list__item {
  padding: 10px;
  background-color: var(--bgColor--list-item);
  border: 1px solid var(--color-list-item__border);
  border-radius: 6px;
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item__btn {
  background-color: var(--bgColor--list-item);
  border: 0px;
}

.list__item--hidden {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 200px;
  padding: 10px;
  border: none;
  background-color: var(--color-bg);
  cursor: pointer;
  font-weight: 500;
}

.button--desktop {
  display: flex;
}

.button__text--hidden {
  display: none;
}

.arrow {
  transition: 0.3s;
}

.arrow-reverse {
  transform: rotate(180deg);
}

.swiper {
  display: none !important;
  padding-bottom: 60px;
}

.swiper-pagination {
    display: none;
  bottom: -20px !important;
}

.swiper-pagination-bullet {
  background: #000;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

@media (max-width: 572px) {
    .swiper {
        display: block !important;
    }
    .swiper-pagination {
        display: block;
    }
  .list--desktop {
    display: none !important;
  }

  .list--mobile {
    display: block;
  }

  .button--desktop {
    display: none;
  }
  
  .list__item {
  padding: 10px;
  max-width: 240px;
  height: 72px !important;
  background-color: var(--bgColor--list-item);
  border: 1px solid var(--color-list-item__border);
  border-radius: 6px;
  font-size: 64px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
}

@media (max-width: 1119px) {
  
.list--desktop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 10px;
}

.list__item--hidden768 {
  display: none;
}

}